#container{

  width:320px;
  height:320px;
  margin: auto;
  margin-top:100px;
}

#container h1 {
  text-align:center;
  font-size: 40px;
  margin-bottom: 50px;

}

.w {

  width:100px;
  height:100px;
  float: left;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
  font-family: sans-serif;
  font-size: 100px;
}

.w:hover {
  background-color: crimson;
}



#w0, #w1, #w2, #w3, #w4, #w5 {
  border-bottom: 10px solid black;
}

#w2, #w5, #w8, #w1, #w4, #w7 {
  border-left: 10px solid black;
}

.winner {
  color: green;
}
